{%extends "layout.html"%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static', filename='success_style.css')}}"> 
    <title>Disaster Classifier | Results</title>

    
{%endblock head%}


{%block body%}
<p class="title animated fadeIn">Natural Disaster Intensity Analysis and Classification using Artificial Intelligence<p></p>

    <div class = "uploaded block">
        <row style = "width: 100% ; display: flex; justify-content: center;">
            <br><br>
            <h3 class="uptexts">Uploaded Media</h3>
        </row>
        <row style = "width: 100% ; display: flex; justify-content: center;">
            {%if format == 'video'%}
                <video width="320" height="240" controls>
                <source src="{{url_for('static', filename = 'uploads/'+ img)}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {%else%}
            <img class = "result-img" src="{{url_for('static', filename = 'uploads/'+ img)}}" width="600px">
            {%endif%}
        </row>
    </div>

    <div class="block animated fadeIn uptexts" style="display: flex;">
        <div>
            <i class="fas fa-exclamation-triangle" style="font-size: 100px; color: yellow;"></i>    
        </div>
        <div style="margin-left: 10px; text-align: left;">
            The Predicted Disaster is {{final_res}}!<br>
            {{measures}}
        </div>
    </div>    

    <div style="padding: 100px;"></div>
{%endblock body%}