{%extends "layout.html"%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static', filename='launch_style.css')}}">
    
{%endblock head%}

{%block body%}
<p class="title animated fadeIn">Natural Disaster Intensity Analysis and Classification using Artificial Intelligence<p>
<div class="block">
    <form  action="/success" method="post", enctype="multipart/form-data" class="form">
        <div class="inner-block">
            <div class="uptexts">Upload any Image or Video in the Below menu</div> 
            <div>
                <input type="file" name = "file" class="custom-file-input hidden" />
            </div>
            <div>
                <button id="custom-btn">Upload</button> 
            </div>
                
        </div>
    </form>

    <div class="uptexts">
        <span>OR</span>
    </div>

    <form action="/success" method="post", enctype="multipart/form-data">
        <div>
            <div class="inner-block">
                <div class="uptexts">Enter the URL of the Media to be Processed</div>
                <div>
                    <input type="text" maxlength="1000" name = "link" placeholder="Paste the image URL here"  class="search-bar"/>
                </div>
                <div>
                    <button class="btn btn-success btn-lg" id="custom-btn">Proceed</button> 
                </div>                
            </div>
        </div>
    </form>

            <div>
                    <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
            </div>
        </div>
        <div style="padding: 100px ;"></div>	
{%endblock body%}