<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home</title>
      <link rel="stylesheet" href="/static/layout_style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            AI Based Natural Disaster Classifier
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Launch Disaster Classifier</a></li>
            <li><a href="#">Weather Forecast</a></li>
         </ul>
      </nav>
      
      <footer class="footer foot">
        <div class="container">
                        <div class="footer-col">
                    <h4>A Web Application Designed By Team PNT2022TMID35901</h4>
                    
                </div>
                
                
            </div>
        </div>
   </footer>
 
   </body>
</html>