{%extends "layout.html"%}

{%block head%}
  <link rel="stylesheet" href="{{url_for('static', filename='intro_style.css')}}">
{%endblock head%}

{%block body%}
<ul style="display:flex" >
    <li style="color:aquamarine;font-size:30px"><p class="txt">China,India and Unites States are among the countries of the world most affected by natural disasters.</p></li>
    <li style="color:aquamarine;font-size:30px"><p class="txt">Natural disasters have the potential to wreck and even end the lives of those people,who stand in their way. </p></li>
    <li style="color:aquamarine;font-size:30px"><p class="txt">However,whether or not , you are likely to be affected by natural disasters greatly depends on where in the workd you live.</p></li>
    <li style="color:aquamarine;font-size:30px"><p class="txt">The objective of the project is to build a web application to detect the type of disaster.</p></li>
    <li style="color:aquamarine;font-size:30px"><p class="txt">The input is taken from the in built web camera , which in turn is given to the pre trained model.</p></li>
    <li style="color:aquamarine;font-size:30px"><p class="txt">The model predicts the type of the disaster and displays on UI.</p></li>
</ul>
{%endblock body%}

